@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan','Poppins', sans-serif;
}

:root{
    --color-primary:#352acfb0;
    --color-danger:#ff7782;
    --color-success:#41f1b6;
    --color-warning:#ffbb55;
    --color-white: #fff;
    --color-navbar: #e3e6f3;
    --color-info-dark:#7d8da1;
    --color-navbar-list: #1a1a1a;
    --color-navbar-hover:#088178;
    --color-dark: #222;
    --color-light: rgba(0, 0, 0, 0.06);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius:2rem;
    --border-radius1:0.4rem;
    --border-radius2:0.8rem;
    --border-radius3:1.2rem;

    --card--padding: 1.6rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 5px 15px var(--color-light);
    --border-box:#cce7d0;

    --background-hero-img: url(../images/hero4.png);
    --background-btn-img:url(../images/button.png);
    --background-banner-img:url(../images/banner/b2.jpg);    
}

h1{
    font-size:50px;
    line-height:64px;
    color:var(--color-dark);
}

h2{
    font-size:46px;
    line-height:54px;
    color:var(--color-dark);
}

h4{
    font-size:20px;
    color:var(--color-dark);
}

h6{
    font-weight:700;
    font-size: 12px;
}

p{
    font-size:16px;
    color:var(--color-dark-variant);
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding:40px 80px;
}

.section-m1 {
    margin:40px 0;
}

button.normal {
    font: size 0.8rem;
    font-weight: 600;
    padding: .9rem 1.8rem;
    color:var(--color-dark);
    background-color:var(--color-white);
    border-radius:1rem;
    cursor: pointer;
    border:none;
    outline:none;
    transition: .2s ease;
}
button.white {
    font: size 0.6rem;
    font-weight: 600;
    padding: .5rem .7rem;
    color:var(--color-white);
    background-color:transparent;
    border-radius:1rem;
    cursor: pointer;
    border:1px solid var(--color-white);
    outline:none;
    transition: .2s ease;
}

body {
    width: 100%;
}

/**** HEADER START **********/
#header {
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 2rem 4.5rem;
    background:var(--color-navbar);
    box-shadow: var(--box-shadow);
    z-index: 99;
    position:sticky;
    top: 0;
    left:0;

}
/********* NAVBAR ***********/

#navbar {
    display:flex;
    align-items:center;
    justify-content:center;
}
#navbar li{
    list-style: none;
    padding: 0 1.5rem;
    position :relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-navbar-list);
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: var(--color-navbar-hover);     
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width:30px;
    height:2px;
    background: var(--color-navbar-hover);
    position: absolute;
    bottom: -4px;
    left:20px;
}

/******* HERO PAGE ***************/
/*******FIRST SECTION *********/
#hero {
    background-image: var(--background-hero-img);
    height:90vh;
    width:100%;
    background-position: top 25% right 0;
    padding: 0 5rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 1rem;
}

#hero h1 {
    color: var(--color-navbar-hover);
}
#hero button {
    background-image: var(--background-btn-img);
    background-color: transparent;
    color:var(--color-navbar-hover);
    border: 0;
    padding:.8rem 6rem .9rem  5rem;
    background-repeat:no-repeat ;
    cursor: pointer;
    font-weight: 700;
    font-size:1rem;
}
#feature{
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-wrap: wrap;
}

/******* SECOND SECTION ***********/

#feature .fe-box{
    width:11.2rem;
    text-align:center;
    padding:1.5rem 1rem;
    box-shadow: 1.2rem 1.2rem 2.2rem rgba(0,0,0,0.03) ;
    border: 1px solid var(--border-box);
    border-radius:2rem;
    margin: 1rem 0 ;
    transition: all 300ms ease;

}
#feature .fe-box:hover{
    box-shadow: 1.2rem 1.2rem 2.2rem rgba(70,62,221,0.1);
    transform: scale(1.1);
}
#feature .fe-box img{
    width: 100%;
    margin-bottom:10px;
}
#feature .fe-box h6{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 7px;
    color: var(--color-navbar-hover);
    background-color: #fddde4;

}
#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
}

/********** THIRD SECTION ************/
#product1 {
    text-align:center;
}
#product1 .pro-container{
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-wrap: wrap;
    padding-top: 1.2rem;
}

#product1 .pro{
    width: 23%;
    min-width:15.6rem;
    padding: .6rem .7rem;
    border: 1px solid var(--border-box);
    border-radius:1.4rem;
    cursor: pointer;
    box-shadow: 1.2rem 1.2rem 2.2rem rgba(0,0,0,0.02) ;
    margin: .9rem 0;
    transition: .2s ease;
    position: relative;
}
#product1 .pro img{
    width:100%;
    border-radius: 1.2rem;
}

#product1 .pro:hover{
    box-shadow: 1.2rem 1.2rem 2.2rem rgba(0,0,0,0.06);
    transform: scale(1.1);
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .des span{
    color:#606063;
    font-size:12px;
}
#product1 .pro .des h5{
    padding-top: 7px;
    color: var(--color-navbar-list);
    font-size:14px;
}
#product1 .pro .des .star span{
    font-size: 1rem;
    color:rgb(243,181,25);
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size:1rem;
    font-weight:700;
    color:var( --color-navbar-hover);
}
#product1 .pro .cart{
    width:2.5rem;
    height:2.5rem;
    line-height: 2.5rem;
    border-radius:3.2rem;
    background-color: #e8f6ea;
    font-weight: 500;
    color:var( --color-navbar-hover);
    border: 1px solid var(--border-box);
    position: absolute;
    bottom:1.2rem;
    right:.6rem;
}
/******* BANNER SECTION **************/
#banner {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    text-align:center;
    background-image: var(--background-banner-img);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
#banner h4{
    color:var(--color-white);
    font-size:1rem;
}
#banner h2{
    color:var(--color-white);
    font-size:2rem;
    padding: 10px 0;
}
#banner h2 span{
    color:var(--color-danger);
}
#banner button:hover{
    background:var(--color-navbar-hover);
    color:var(--color-white);
    transform:scale(1.1);
}
   
/******** SM-BANNER ***********/
#sm-banner{
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
#sm-banner .banner-box {
    background-image: url(../images/banner/b17.jpg);
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    min-width: 85vh;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding:1.8rem;
    transition: .2s ease;
}
#sm-banner .banner-box2{
    background-image: url(../images/banner/b10.jpg);

}
#sm-banner h4{
    color: var(--color-white);
    font-size:1.2rem;
    font-weight:300;
}
#sm-banner h2{
    color: var(--color-white);
    font-size:1.5rem;
    font-weight:800;
}
#sm-banner span{
    color: var(--color-white);
    font-size:.7rem;
    font-weight:500;
    padding-bottom: .9rem;
}
#sm-banner button:hover{
    background:var(--color-navbar-hover);
    color:var(--color-white);
    border:1px solid var(--color-navbar-hover);
    transform:scale(1.1);
}
#sm-banner .banner-box:hover{
    transform:scale(1.1);
}